/* custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #DC3545; 
}

::-webkit-scrollbar-thumb:hover {
    background: #FCD132; 
}

#banner {
    background: linear-gradient(
        90deg, #000000 0%, white 0%, rgba(0, 0, 0, 0.35) 0%), url("../images/banner-1.jpg") no-repeat center / cover;
        height: 65vh;
}

.logo {
    display: block;
    width: 50px;
    margin: auto;
}

.bg-primary {
    background-color: #FCD132 !important;
}

.bg-yellow {
    background-color: #f7c925;
}

.toggle-mobile-icon {
    display: none;
}

.mobile-nav {
    display: none;
}

/* filter design */
.filter {
    cursor: pointer;
}
.active {
    background-color: #DC3545 !important;
}

/* cards style */
.card {
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 0px 8px 2px rgba(184,184,184,0.75);
    transition: all .6s;
}

.card:hover {
    background-color: antiquewhite;
    transform: rotate(1turn);
  }

.rounded-10 {
    border-radius: 10px;
}

.rounded-img-10 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-row input::placeholder {
    font-style: italic !important;
}

.form-row .custom-select-lg {
    height: 58px;
    background: #fff url("../images/chevron-down-solid.svg") right 0.75rem center/26px 18px no-repeat;
    font-size: 1rem !important;
}

.custom-b-padding {
    padding-bottom: 25vh;
}

footer span {
    font-size: 18px;
}


@media (max-width: 768px) {
    .nav-content {
        display: none;
    }

    .mobile-nav {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 1;
        transition: all .1s ease-in-out;
    }

    .toggle-mobile-icon {
        display: flex;
        width: 70px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        /* resets */
        border: none;
        background: none;
    }
    
    .toggle-mobile-icon:hover {
        cursor: pointer;
    }
      
    .toggle-mobile-icon span {
        width: 100%;
        height: 6px;
        border-radius: 3px;
        background-color: #302f38;
        margin: 3px;
    }
    
    .toggle-mobile-icon span:nth-child(2) {
        width: 75%;
    }
    
    .toggle-mobile-icon span:nth-child(3) {
        width: 50%;
    }

    .position-relative .toggle-mobile-icon {
        position: absolute;
        top: 30px;
        right: 4px;
    }

    .filter.border-right {
        border: 0 !important;
    }
}

@media (max-width: 425px) {
    #banner {
        height: 35vh;
    }

    #banner .display-3 {
        font-size: 3rem;
    }

    .banner .display-3 {
        font-size: 2rem;
    }
}
